.player{
    min-width:300px;
    max-width: 1000px;
    padding:20px;
}

.container {
	transition: background 1.2s;
}
.container.dark {
	background: hsl(200, 65%, 8%);
}

body {
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
}

.longshan, .park, .underground{
    padding: 100px;
    grid-column: 2;
}

.longshan{
    grid-row:1;
    background: url(images/longshan-day.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition-duration: 1s;
    
}

.longshan.night{
    background: url(images/longshan-night.jpeg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition-duration: 1s;
}

.park{
    grid-row:2;
    background: url(images/park-day.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition-duration: 1s;
}

.park.night{
    background: url(images/park-night.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition-duration: 1s;
}

.underground{
    grid-row:3;
    background: url(images/underground-day.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.toggle{
    background-image: url(icons/day.svg) center no-repeat;
    background-size:cover;
    background-attachment: fixed; 

    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1;
    font: 0.6em / 1.5 Helvetica Neue, Helvetica, "Noto Sans TC", Arial, sans-serif;
}



.toggle.night{
    /*background: url(icons/night.png) center no-repeat;*/
}


.stick{
    position: fixed;
    top: 100px;
    left:20px;
}

header{
    position: fixed;
    top: 20px;
    left:20px;
    padding:10px;
    text-align: left;
}

.toggled{
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1;
    font: 0.6em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}
