body {
  /*background: linear-gradient(90deg, rgba(25,43,62,1) 0%, rgba(219,215,163,1) 54%, rgba(27,53,65,1) 100%);
    */
    background: url(images/path-background2.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    /*overflow: hidden*/
    margin:0;
    padding:0;
    min-height: 100%;
    overflow-x:hidden;
    /*color: rgba(51,51,51,0.2);
    url(big-star.png) center no-repeat, 
    padding: 1em;
    margin: 0;*/
  }

.btn {
    /*display:block;
    position: absolute;
    top:400px;
    left: 1000px;*/
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid rgb(252, 252, 252);
  }

.container{
    position: absolute;
    top:400px;
    left: 1000px;
    height:500px;
    width: 1000px;
}