/*
just to inspect what was wrong with the white space
* { border: 1px solid red; }
*/

html{
    margin: 0;
    padding:0;
    height: 100%;  
}

body {
    background: url(images/index-background.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica Neue, Helvetica, Arial, "Noto Sans TC", sans-serif ;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.5;
    

    /*overflow: hidden*/
    margin:0;
    padding:0;
    min-height: 100%;
    overflow-x:hidden;
    /*color: rgba(51,51,51,0.2);
    url(big-star.png) center no-repeat, 
    padding: 1em;
    margin: 0;*/
  }

.right{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*
.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
}
nav{
    grid-column: 1;
    grid-row:1;
}
.right{
    grid-column:2;
    grid-row:1;
}
*/


header{
    padding-top: 100px;
    float:middle;
    text-align:center;
}

.info{
    padding: 100px;
    padding-bottom: 50px;
    text-align:center;
    max-width: 700px;
}

h1, p, h3, h2{
    color:beige;
    background-color: rgba(0, 0, 0, 0.596); 
    display:inline; 
}

h1{
    font-size: 3em;
    font-family: Helvetica Neue, Helvetica, Arial, "Noto Sans TC", sans-serif ;   
}

h2{
    font-size: 3em;
    font-weight:400;
}

h3{
    font-weight:100;
}

/*.page {overflow:hidden;}*/

.arrange{
    display:grid;
    gap:20px;
    padding: 50px;
    padding-left: 10px;
    padding-top: 10px;
    align-items: center;
    justify-content: space-around;
}

.stick{
    position: fixed;
    top: 20px;
    left:20px;
    z-index: 2;
}

button {
    display: inline-block;
    /*border-radius: 40px;*/
    color: #E9EBD9;
    /*font-family: Helvetica;*/
    font: 1em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 2px 10px;
    background-color: #110d0627;
    border: solid #fcffe44f 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    overflow:hidden;
    transition-duration: 0.4s;
 }
 
 button:hover {
    background-color: #241705c0;
    border: solid #FCFFE4 1px;
    text-decoration: none;
 }


canvas {
    position: absolute;
    top: 300;
    left: 0;
    z-index: 1;
}